{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site des toDoList{% endblock %}


{% block body %}

<div class="container col-12 col-lg-6 mt-5 authenticated">
    <h2>Bienvenue sur l'appli des listes de choses à faire</h2>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <img class="imgAvatar visible" src="uploads/avatar/{{ app.user.avatar }}" alt="votre avatar">
        <a href="{{ path('app_logout') }}" class="btn btn-danger btnDeco"> Déconnexion</a>
    {% endif %}
</div>


    



{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="container col-12 col-lg-6 mt-5">
     {{ form_start(formNewTodo) }}
        <div>{{ form_row(formNewTodo.name, {label: 'Nom de la nouvelle action à effectuer', attr: {'class': 'newName form-control mb-2'}}) }}</div>
        <div>{{ form_row(formNewTodo.description, {label: 'Description', attr: {'class': 'newDescription form-control mb-2'}}) }}</div>
        <div>{{ form_row(formNewTodo.statut,{label: '', attr: {'class': 'newStatut'}} ) }}</div>
        <div>{{ form_row(formNewTodo.limitedAt, {label: 'Date limite', attr: {'class': 'newLimitedAt form-control mb-2'}}) }}</div>

    {{ form_widget(formNewTodo.submit, {attr: {'class': 'btn btn-success addToDo' }}) }}

{{ form_end(formNewTodo) }} 

</div>
    <div class="container mt-5 col-12 col-lg-6">
            <table class="table table-dark table-striped">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date limite</th>
                <th>Fait/ou pas</th>
                <th></th>
            </tr>

            <tbody id="allToDos">
                 {% for todo in todos %}
                <tr>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.description }}</td>
                    <td>{{ todo.limitedAt|date('j/n/Y') }}</td>
                    <td>{% if todo.statut == false %} Pas encore fait ! {% else %} Fait ! {% endif %} </td>
                    <td><button class="btn btn-danger deleteToDo" id="{{ todo.id }}">X</button></td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>

{% else %}

    <div class="container col-12 col-lg-6 mt-5">
        <h4>Connectez-vous ou inscrivez-vous pour utilisez l'application ! Enjoy !</h4>
    </div>
    <div class="container mt-5 col-6 boutonsHome">
        <a href="{{ path('app_login') }}" class="btn btn-success">Connexion</a>
        <a href="{{ path('app_registration') }}" class="btn btn-secondary">Inscription</a>
    </div>

{% endif %}

{% endblock %}

        {% block javascripts %}
<script
			  src="https://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
